In [1]:
from os import preadv
from gevent import config
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *
from pyspark.sql.streaming import *
from pyspark.sql import SparkSession
import time
import pandas as pd
import config

In [2]:
spark = SparkSession.builder.appName("mnpl_data").getOrCreate()
df = spark.read.parquet("past_data")
df = df.toPandas()
df.head()

22/07/16 11:34:21 WARN Utils: Your hostname, Van.local resolves to a loopback address: 127.0.0.1; using 192.168.1.12 instead (on interface en0)
22/07/16 11:34:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.0.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/07/16 11:34:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

,Symbol,Open,High,Low,Close,Volume,Value,day,MA20,MA50,EMA12,EMA26,MACD,PARTITION_DATE
0,AAA,13.10,13.75,12.80,12.80,6651400.0,8.846755e+10,47,12.2775,13.680851,-8.332692,-10.325000,1.992308,20220610
1,AAM,12.20,12.65,12.10,12.40,14100.0,1.737000e+08,47,12.4350,13.540426,-8.580385,-10.558333,1.977949,20220610
2,ABT,41.25,41.25,40.15,41.25,3200.0,1.298400e+08,47,41.2825,40.873404,-28.688846,-35.282407,6.593561,20220610
3,ACB,25.20,25.80,25.15,25.20,2278300.0,5.790451e+10,47,28.2500,30.365957,-20.124231,-24.397222,4.272991,20220610
4,ACL,28.15,28.65,26.65,26.65,605300.0,1.662091e+10,47,26.1225,27.039362,-17.891538,-22.090741,4.199202,20220610

In [5]:
df.loc[df['Symbol'] == 'SJF'].sort_values(by="day", ascending=False)

,Symbol,Open,High,Low,Close,Volume,Value,day,MA20,MA50,EMA12,EMA26,MACD,PARTITION_DATE
2313,SJF,6.40,6.40,5.96,5.96,1009600.0,6.136374e+09,62,7.2665,9.8056,-5.415269,-6.487685,1.072416,20220701
5293,SJF,6.99,6.99,6.39,6.40,787000.0,5.238424e+09,61,7.4835,9.9304,-5.525269,-6.649537,1.124268,20220630
4399,SJF,7.08,7.08,6.45,6.75,1701700.0,1.172443e+10,60,7.6935,10.0644,-5.649115,-6.818056,1.168940,20220629
5591,SJF,6.23,6.62,6.22,6.62,277000.0,1.807974e+09,59,7.9035,10.2104,-5.850192,-7.025833,1.175641,20220628
7081,SJF,6.15,6.25,6.01,6.19,459500.0,2.830447e+09,58,8.1175,10.3800,-6.126192,-7.287315,1.161123,20220627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44986,SJF,15.95,16.50,15.95,16.00,1388100.0,2.244100e+10,5,16.4300,16.4300,-11.531731,-14.127315,2.595584,20220408
45541,SJF,16.80,16.80,16.20,16.20,1510600.0,2.492898e+10,4,16.5375,16.5375,-11.596154,-14.216667,2.620513,20220407
50169,SJF,16.60,17.30,16.50,16.75,2506100.0,4.233229e+10,3,16.6500,16.6500,-11.469231,-14.129630,2.660399,20220406
50442,SJF,16.45,16.85,16.40,16.60,1418400.0,2.361533e+10,2,16.6000,16.6000,-11.492308,-14.140741,2.648433,20220405
52062,SJF,17.00,17.30,16.60,16.60,2038100.0,3.442148e+10,1,16.6000,16.6000,NaN,NaN,NaN,20220404

In [7]:
len(df.Symbol.unique())

866

In [24]:
len(df.loc[df['day'] == 62].Symbol.unique())

866

In [17]:
mapping = df.loc[df['Symbol'] == 'SJF'][['day', 'PARTITION_DATE']]
day_mapping = {}
for ind, row in mapping.iterrows():
    key = row['PARTITION_DATE']
    day = row['day']
    day_mapping[key] = day

In [23]:
for i in range(len(df)):
    row = df.iloc[i]
    day = day_mapping[row['PARTITION_DATE']]
    df.loc[i, 'day'] = day

df.head()

,Symbol,Open,High,Low,Close,Volume,Value,day,MA20,MA50,EMA12,EMA26,MACD,PARTITION_DATE
0,AAA,13.10,13.75,12.80,12.80,6651400.0,8.846755e+10,47,12.2775,13.680851,-8.332692,-10.325000,1.992308,20220610
1,AAM,12.20,12.65,12.10,12.40,14100.0,1.737000e+08,47,12.4350,13.540426,-8.580385,-10.558333,1.977949,20220610
2,ABT,41.25,41.25,40.15,41.25,3200.0,1.298400e+08,47,41.2825,40.873404,-28.688846,-35.282407,6.593561,20220610
3,ACB,25.20,25.80,25.15,25.20,2278300.0,5.790451e+10,47,28.2500,30.365957,-20.124231,-24.397222,4.272991,20220610
4,ACL,28.15,28.65,26.65,26.65,605300.0,1.662091e+10,47,26.1225,27.039362,-17.891538,-22.090741,4.199202,20220610

In [26]:
df.sort_values(by='day', ascending=False)

,Symbol,Open,High,Low,Close,Volume,Value,day,MA20,MA50,EMA12,EMA26,MACD,PARTITION_DATE
19350,EBS,10.0,10.2,10.00,10.00,1200.0,1.204000e+07,62,10.780,11.206,-7.629615,-9.291667,1.662051,20220701
21139,NLG,35.2,36.5,34.75,36.05,1826800.0,6.480834e+10,62,38.400,43.258,-27.288846,-33.260185,5.971339,20220701
21137,NHC,30.0,30.0,30.00,30.00,100.0,3.000000e+06,62,31.515,31.806,-22.135769,-27.050926,4.915157,20220701
21136,NHA,19.0,20.4,18.60,20.05,144600.0,2.770080e+09,62,22.895,29.670,-16.704808,-20.169907,3.465100,20220701
21135,NET,48.5,48.5,48.50,48.50,1100.0,5.335000e+07,62,48.935,51.538,-34.025385,-41.805556,7.780171,20220701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52132,YBM,11.0,11.2,10.90,10.95,65900.0,7.245250e+08,1,10.950,10.950,NaN,NaN,NaN,20220404
52133,ABR,20.4,20.6,20.05,20.60,600.0,1.224500e+07,1,20.600,20.600,NaN,NaN,NaN,20220404
52134,ACM,3.0,3.1,2.80,2.90,0.0,0.000000e+00,1,2.900,2.900,NaN,NaN,NaN,20220404
52135,ADG,51.8,51.8,51.00,51.60,170500.0,8.778700e+09,1,51.600,51.600,NaN,NaN,NaN,20220404
52670,X20,11.7,11.8,11.70,11.80,1600.0,1.874000e+07,1,11.800,11.800,NaN,NaN,NaN,20220404

In [52]:
df['EMA12'] = df['Close']
df['EMA26'] = df['Close']
df

,Symbol,Open,High,Low,Close,Volume,Value,day,MA20,MA50,EMA12,EMA26,MACD,PARTITION_DATE
0,AAA,13.10,13.75,12.80,12.80,6651400.0,8.846755e+10,47,12.2775,13.680851,12.80,12.80,1.992308,20220610
1,AAM,12.20,12.65,12.10,12.40,14100.0,1.737000e+08,47,12.4350,13.540426,12.40,12.40,1.977949,20220610
2,ABT,41.25,41.25,40.15,41.25,3200.0,1.298400e+08,47,41.2825,40.873404,41.25,41.25,6.593561,20220610
3,ACB,25.20,25.80,25.15,25.20,2278300.0,5.790451e+10,47,28.2500,30.365957,25.20,25.20,4.272991,20220610
4,ACL,28.15,28.65,26.65,26.65,605300.0,1.662091e+10,47,26.1225,27.039362,26.65,26.65,4.199202,20220610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52666,VTO,15.20,15.50,15.00,15.00,1025500.0,1.552030e+10,1,15.0000,15.000000,15.00,15.00,NaN,20220404
52667,VTZ,13.30,13.40,13.10,13.30,12300.0,1.629500e+08,1,13.3000,13.300000,13.30,13.30,NaN,20220404
52668,WCS,190.00,190.00,190.00,190.00,0.0,0.000000e+00,1,190.0000,190.000000,190.00,190.00,NaN,20220404
52669,WSS,13.50,14.70,13.50,14.00,75100.0,1.055170e+09,1,14.0000,14.000000,14.00,14.00,NaN,20220404
52670,X20,11.70,11.80,11.70,11.80,1600.0,1.874000e+07,1,11.8000,11.800000,11.80,11.80,NaN,20220404

In [89]:
k12 = 2/13
k26 = 2/27

res = pd.DataFrame(columns=df.columns)
for ticker in config.TICKERS:
    temp_df = df.loc[df["Symbol"] == ticker].copy()
    for i in range(61):
        if i == 0:
            temp_df.loc[temp_df['day'] == 1, 'MACD'] = 0
        if i + 1 not in df[df.Symbol == ticker]['day'].values:
            continue
        prev_ema12 = temp_df.loc[temp_df['day'] == i + 1, 'EMA12'].values[0]
        prev_ema26 = temp_df.loc[temp_df['day'] == i + 1, 'EMA26'].values[0]
        close = temp_df.loc[temp_df['day'] == i + 2, 'Close'].values[0]
        ema12 = close * k12 + prev_ema12 * (1-k12)
        ema26 = close * k26 + prev_ema26 * (1-k26)
        temp_df.loc[temp_df['day'] == i + 2, 'EMA12'] = ema12
        temp_df.loc[temp_df['day'] == i + 2, 'EMA26'] = ema26
        temp_df.loc[temp_df['day'] == i + 2, 'MACD'] = ema12 - ema26
    res = pd.concat([res, temp_df])
    
res.sort_values(by='day', ascending=False)

,Symbol,Open,High,Low,Close,Volume,Value,day,MA20,MA50,EMA12,EMA26,MACD,PARTITION_DATE
2214,HMH,16.8,17.4,16.8,17.4,5100.0,85740000.0,62,17.965,19.332,17.519721,18.301295,-0.781574,20220701
21026,CMX,16.8,17.3,16.25,16.95,1297100.0,21693295000.0,62,18.8425,19.04,17.640168,18.46673,-0.826562,20220701
19511,TPC,9.01,9.01,8.51,9.0,2500.0,21543000.0,62,9.3095,9.7134,9.26526,9.402153,-0.136893,20220701
21035,CTCB2201,0.06,0.07,0.05,0.05,611500.0,36500000.0,62,0.186,0.3404,0.135774,0.217877,-0.082102,20220701
20980,APC,18.0,18.5,17.35,18.45,3900.0,69085000.0,62,19.3125,20.534,18.757961,19.56796,-0.809999,20220701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52143,APC,26.4,26.7,26.1,26.6,27100.0,719020000.0,1,26.6,26.6,26.6,26.6,0.0,20220404
52476,FDC,37.0,38.0,36.9,37.0,103800.0,3864440000.0,1,37.0,37.0,37.0,37.0,0.0,20220404
52289,NKG,48.0,48.4,47.25,47.5,4664100.0,222192345000.0,1,47.5,47.5,47.5,47.5,0.0,20220404
52104,UNI,30.9,30.9,29.0,29.0,16300.0,480770000.0,1,29.0,29.0,29.0,29.0,0.0,20220404
52670,X20,11.7,11.8,11.7,11.8,1600.0,18740000.0,1,11.8,11.8,11.8,11.8,0.0,20220404

In [93]:
res.loc[res["Symbol"] == 'AAA'].sort_values(by='day', ascending=False)

,Symbol,Open,High,Low,Close,Volume,Value,day,MA20,MA50,EMA12,EMA26,MACD,PARTITION_DATE
2086,AAA,11.2,11.6,10.8,11.45,2621000.0,29249239999.999901,62,11.8175,12.255,11.651724,11.954818,-0.303094,20220701
5066,AAA,11.9,11.9,11.3,11.3,3077000.0,35585065000.0,61,11.8675,12.312,11.688401,11.995204,-0.306803,20220630
4172,AAA,11.9,12.0,11.75,11.85,2665600.0,31605445000.0,60,11.925,12.381,11.759019,12.05082,-0.2918,20220629
5364,AAA,11.9,12.2,11.85,12.0,3355800.0,40366429999.999802,59,11.9575,12.461,11.742477,12.066885,-0.324408,20220628
6854,AAA,11.85,12.1,11.75,11.9,2674300.0,31941025000.000099,58,11.9875,12.559,11.695655,12.072236,-0.376581,20220627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44776,AAA,17.7,17.9,17.5,17.5,4876600.0,86053394999.999405,5,18.16,18.16,18.34625,18.543331,-0.197081,20220408
45331,AAA,18.2,18.5,17.5,17.5,9718900.0,175072564999.997986,4,18.325,18.325,18.500114,18.626797,-0.126683,20220407
49967,AAA,18.55,18.85,18.1,18.35,6529500.0,120814270000.0,3,18.6,18.6,18.681953,18.716941,-0.034988,20220406
50240,AAA,18.75,19.0,18.6,18.7,5017000.0,94041410000.000107,2,18.725,18.725,18.742308,18.746296,-0.003989,20220405
51860,AAA,19.4,19.4,18.75,18.75,6676700.0,127046445000.0,1,18.75,18.75,18.75,18.75,0.0,20220404

In [96]:
schema = (StructType()
            .add(StructField("Symbol", StringType()))
            .add(StructField("Open", StringType()))
            .add(StructField("High", StringType()))
            .add(StructField("Low", StringType()))
            .add(StructField("Close", StringType()))
            .add(StructField("Volume", StringType()))
            .add(StructField("Value", StringType()))
            .add(StructField("day", StringType()))
            .add(StructField("MA20", StringType()))
            .add(StructField("MA50", StringType()))
            .add(StructField("EMA12", StringType()))
            .add(StructField("EMA26", StringType()))
            .add(StructField("MACD", StringType()))
            .add(StructField("PARTITION_DATE", StringType()))    
        )
spark_df = spark.createDataFrame(res, schema=schema)

DataFrame[Symbol: string, Open: string, High: string, Low: string, Close: string, Volume: string, Value: string, day: string, MA20: string, MA50: string, EMA12: string, EMA26: string, MACD: string, PARTITION_DATE: string]